body
{

  display: flex;
  flex-direction: column;
  align-items:center;
  height: 20vw;
  font-family:sans-serif;

}

 #cards,#deckPreviewDiv
{
  display:flex;
  flex-direction: row;
  margin-bottom: 3vh;
  justify-content:center;
}
#buttons
{
 display:flex;
 flex-direction: row;
 margin-bottom: 30px;
 justify-content:space-between;
}

#CARD0,#CARD2,#CARD1
{
  height :27vh;
  width:19vh;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: -5px 5px 10px black;
}
#deckPrev0,#deckPrev1,#deckPrev2,#deckPrev3
{
  height :20vh;
  width:14vh;
  margin-left: 10px;
  border: 1px solid black;
  border-radius: 1vh;
  box-shadow: -5px 5px 10px black;
}

#tenHands,#goDeep
{

height:6vh;
  width:18vh;;
  background-color: darkred;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
  font-size: 2vh;
  font-weight: bold;
  color:gold;
  text-shadow:1px 1px 2px black;
  margin-left: 5vh;
  margin-right: 5vh;
}

#play,#shuffleButton,#yes,#bet,#apply,#infoAboutDone,#trophyDone
{
  height:6vh;
  width:12vh;
  background-color: darkred;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
  font-size: 2vh;
  font-weight: bold;
  color:gold;
  text-shadow:1px 1px 2px black;
  margin-left: 5vh;
  margin-right: 5vh;
}

#saveSettings,#loadSettings,#done
{
  height:6vh;
  width:12vh;
  background-color: darkred;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
  font-size: 2vh;
  font-weight: bold;
  color:gold;
  text-shadow:1px 1px 2px black;
  margin-left: 2vh;
  margin-right: 2vh;
  margin-top:2vh;
}
#infoAboutDone{margin-bottom:2vh;}

#prefButton,#infoButton,#aboutButton
{

  margin: 0.5vh;
  height: 4vh;
  width: 4vh;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
  border: 1px solid #A18D24;
  border-radius: 5px;
}
#prefButton:hover, #infoButton:hover, #aboutButton:hover
{
animation: tooba 0.9s linear ;
}
@keyframes tooba
{
0% {transform: rotate(90deg);}
80%		{	transform: rotate(400deg);}
100%	{	transform: rotate(360deg);}
}

#colorPick
{
  height:6vh;
  width:6vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  cursor:pointer;
  box-shadow: -5px 5px 5px #333;
}

#shuffleButton:hover,#play:hover,#bet:hover,#yes:hover,#goDeep:hover,#tenHands:hover,#apply:hover,#infoAboutDone:hover,#done:hover,#saveSettings:hover,#loadSettings:hover,#trophyDone:hover{background-color: #591515;}

p,output{
  font-size: 2vh;
  font-weight:500;
  color:silver;
  text-shadow:1px 1px 2px black;
  margin-left:20px;
}
label{
  font-size: 2vh;
  font-weight:500;
  color:silver;
  text-shadow:1px 1px 2px black;
  margin-left:20px;
  margin-top:1vw;
  margin-bottom: 1vw;
}

#set
{
  justify-content: center;
  /*background-color: #1A651E;
  border:  4px solid #A18D24;
  border-radius: 15px;
  box-shadow: -10px 10px 10px #111;*/
  padding: 10px;
}

form
{
display: flex;
flex-direction: column;
justify-content: space-between;
}

#trophyDiv
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#trophyImage
{
  height:15vh;
  width: 15vh;
}
#buttonDiv
{

  display:inline;

}



#prefButtonDiv,#gamePrompt
{
  margin-top:2vh;
  display:flex;
  flex-direction:row;
  justify-content: flex-end;

}

#h1,#trophyP0
{
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
  font-size:11vh;
  font-weight:bolder;
  font-family:sans-serif;
  color:silver;
  text-shadow:-4px 4px 8px black;
}


#prompt
{
  display:flex;
  flex-direction: row;
  justify-content: center;}


  input[type=range] {
    height: 2px;
    -webkit-appearance: none;
    margin: 0px 0;
  width:16vh;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width:16vh;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 4px #000000;
    background: #91A9A4;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: -1px 1px 2px #000000;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 5px;
    background: #72B07F;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -5px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #91A9A4;
  }
  input[type=range]::-moz-range-track {
  width:16vh;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: -1px 1px 4px #000000;
    background: #91A9A4;
    border-radius: 5px;
    border: 1px solid #000000;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: -1px 1px 2px #000000;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border: 1px solid #000000;
    border-radius: 15px;
    background: #72B07F;
    cursor: pointer;
    box-shadow: -1px 1px 4px #000000;
  }
  input[type=range]::-ms-track {
  width:16vh;
    height: 10px;
    cursor: pointer;
    animate: 0.2s;
    background: red;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #91A9A4;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: -1px 1px 4px #000000;
  }
  input[type=range]::-ms-fill-upper {
    background: #91A9A4;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: -1px 1px 4px #000000;
  }
  input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: -1px 1px 2px #000000;
    border: 1px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #72B07F;
    cursor: pointer;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #91A9A4;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #91A9A4;
  }

  #prefBackDiv,#colorForm,#boolPrompt,#bossKeys,#deckSetDiv,#deckColor,#inSumDiv,#currencyDiv,#anteDiv,#fileDiv
  {
    width: 50vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:flex-start;
    margin-top,margin-bottom: 1vw;

  }
#deckSetP,#deckColP,#hideKey,#colorLabel,#inSumP,#anteP,#trophyLabel,#audioLabel
{

  margin-right: 2vw;

}


#bossHide

{
  height: 4vh;
  width: 3vh;
  min-height: 20px;
  font-size: 2vh;
  color:silver;
  margin-left: 3vh;
  margin-right: 3vh;
  justify-content: center;
  padding-left: 1vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #333;
}

select

{
  height: 4vh;
  width: 10vh;
  min-height: 20px;
  min-width: 50px;
  font-size: 2vh;
  color:silver;
  margin-left: 3vh;
  margin-right: 3vh;
  justify-content: center;
  padding-left: 1vh;
  padding-bottom: 0.1vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #333;
}


.framed,.framedS
{
  padding-top:3px;
  padding-right:3px;
  padding-left:3px;
  border: 3px solid gold;
  border-radius: 5px;

}
.inactive,.prefInactive,.bossInactive
{
display:none;
}
#deckCol0,#deckCol1,#deckCol2,#deckCol3,#deckCol4,#deckCol5,#deckCol6,#deckCol7,#deckSet0,#deckSet1,#deckSet2,#deckSet3,#deckSet4,#deckSet5,#deckSet6,#deckSet7
{
  height: 7vh;
  width: 5vh;
  cursor:pointer;
  border: 3px solid darkgreen;
  border-radius: 5px;
}



.tilt
{transform: rotate(5deg);}

#inSumInp,#currencyFormat
{
  height: 4vh;
  width: 12vh;
  min-height: 20px;
  min-width: 80px;
  font-size: 2vh;
  background-color: #2D452F;
  color:silver;
  margin-left: 3vh;
  justify-content: center;
  padding-left: 1vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #333;
}
#anteInp,#anteRaiseInp
{
  height: 3vh;
  width: 6vh;
  font-size: 2vh;
  font-weight: bold;
  background-color: #2D452F;
  color:silver;
  margin-left: 3vh;
  justify-content: center;
  padding-left: 1vh;
  border: 1px solid #A18D24;
  border-radius: 5px;
  box-shadow: -5px 5px 5px #333;
}
#setSet
{ margin-bottom: 30px;}

.tooltip
{
  position: relative;
  display: inline-block;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 80px;
  bottom:100%;
  left:50%;
  margin-left: -40px;
  background-color: #222;
  color: silver;
  text-align: center;
  padding: 5px 0;
  border-radius: 5px;
  position: absolute;
  z-index: 1;
  font-size:1.5vh;
}

.tooltip:hover .tooltiptext { visibility: visible;}
a
{color:yellow;}


#anteDiv
{
  align-items:baseline;
}
#antePlaced,#anteRaisePlaced
{
  margin-bottom: 0.5vh;
}
/*  checkbox styling*/

/* Hiding the initial checkbox */
input[type=checkbox] {
  visibility: hidden;
}
/* Creating a custom checkbox based on demand */
.vchkbox {
  position: absolute;

  height: 20px;
  width: 20px;

  border: 1px solid #A18D24;
  border-radius: 5px;

}
/* Specify the background color to be shown when hovering over checkbox */
.p:hover input ~ .vchkbox {
  border: 1px solid silver;
}
/* Specify the background color to be shown when checkbox is active */
.p input:active ~ .vchkbox {
  border: 1px solid silver;
}
/* Specify the background color to be shown when checkbox is checked */
.p input:checked ~ .vchkbox {


}
/* Checkmark to be shown in checkbox */
/* It is not be shown when not checked */
.vchkbox:after {
  content: "";
  position: absolute;
  display: none;
}
/* Display checkmark when checked */
.p input:checked ~ .vchkbox:after {
  display: block;
}
/* Styling the checkmark using webkit */
/* Rotated the rectangle by 45 degree and
showing only two border to make it look
like a tickmark */
.p :after {
  left: 6px;
  bottom: 4px;
  width: 5px;
  height: 10px;
  border: solid silver;

  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.shuffled0
{
  position:relative;
animation: shuffleOn0 1.1s linear ;
}

@keyframes shuffleOn0
{
				0% {transform:  translate(0vh,0vh);}
				10% {transform:  translate(20vh,2vh);}
				15%		{	transform:  translate(45vh,0vh);}
					20% {transform:  translate(20vh,-2vh);}
				25% {	transform:  translate(0vh,0vh);}
								30% {transform:  translate(20vh,-2vh);}
				50%		{	transform:  translate(30vh,0vh);}
								55% {transform:  translate(20vh,2vh);}
				60%		{	transform:  translate(0vh,0vh);}
					70% {transform:  translate(20vh,-2vh);}
				75%		{	transform:  translate(10vh,0vh);}
				90% {transform:  translate(20vh,2vh);}
				100%		{	transform:  translate(0vh,0vh);}
				}
.shuffled1
{
  position:relative;
animation: shuffleOn1 1.2s linear ;
}

@keyframes shuffleOn1
{
				0% {transform:  translate(0vh,0vh);}
				10% {transform:  translate(20vh,2vh);}
					15%		{	transform:  translate(45vh,0vh);}
				20% {transform:  translate(20vh,-2vh);}
				27% {	transform:  translate(0vh,0vh);}
							30% {transform:  translate(-20vh,2vh);}
				55%		{	transform:  translate(-30vh,0vh);}
					60% {transform:  translate(0vh,-2vh);}
				70%		{	transform:  translate(30vh,0vh);}
					85% {transform:  translate(10vh,-2vh);}
				100%		{	transform:  translate(0vh,0vh);}
				}
.shuffled2
{
  position:relative;
animation: shuffleOn2 1.3s linear ;
}

@keyframes shuffleOn2
{
				0% {transform: translate(0vh,0vh);}
					7%		{	transform:  translate(-20vh,-2vh);}
					15%		{	transform:  translate(-45vh,0vh);}
					20%		{	transform:  translate(-20vh,2vh);}
				22% {	transform: translate(0vh,0vh);}
					33%		{	transform:  translate(5vh,-2vh);}
				48%		{	transform:  translate(10vh,0vh);}
						65%		{	transform:  translate(-20vh,2vh);}
				82%		{	transform: translate(-45vh,0vh);}
						90%		{	transform:  translate(-20vh,-2vh);}
				100%		{	transform:  translate(0vh,0vh);}
}
#placedBet
{margin-bottom:1vh;}
